.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2%;
  background-color: rgb(241, 238, 235);
}
.article > div {
  display: flex;
  gap: 8px;
}
.article > div > span {
  text-align: start;
}
.article-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.article-img > img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  
}
.article-img > div {
  display: flex;
  gap: 8px;
}
.article-img > div > span {
  text-align: start;
}
.more-details {
  text-align: end;
}
.more-details > span {
  color: brown;
  cursor: pointer;
}
